*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Varta', Arial, Helvetica, sans-serif !important;
    font-size: 17px;
}

/* il padding rimosso è un fix per sistemare il container-fluid che con i gutter-y genera problemi con il background */
.container-fluid{
    padding: 0px 0px !important;
}

.navbar_drop{
    font-weight: 600;
}

.nav-link::after{
    content: "";
    width: 13px;
    height: 13px;
    background-image: url(../img/chevron-down-solid.svg);
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 17px;
}

.nav-link:hover:after{
    background-image: url(../img/chevron-down-solid-hover.svg);
}

.nav-item a:hover{
    color: #0070d1 !important;
}

.button_login:hover{
    background-color: rgb(87, 87, 87) !important;
}

.new_game > div > div{
    border-radius: 20px;
}



/* **** debug ****  */

.debug .my_jumbo{
    height: 690px;
    background-color: tomato;
}

.debug .my_card{
    background-color: lightgreen;
}

.debug .my_card > div > div{
    background-color: orange;
    border: 1px solid black;
}

.debug .ps5{
    height: 300px;
    background-color: lightskyblue;
}

.debug .console{
    background-color: lightsalmon;
}

.debug .console div{
    height: 700px;
    background-color: lightyellow;
    border: 1px solid black;
}


.debug .gadget{
    background-color: lightskyblue;
}

.debug .gadget > div > div{
    background-color: lightpink;
    border: 1px solid black;
}

.debug .new_game{
    background-color: #191919;
}

.debug .new_game > div > div{
    background-color: lightpink;
    border: 1px solid black;
}