*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Varta', Arial, Helvetica, sans-serif !important;
    font-size: 17px;
}

h1{
    font-weight: 600 !important;
    font-size: 45px !important;
}

h5{
    font-weight: 600 !important;
}

h6{
    font-weight: 600 !important;
}

/* il padding rimosso è un fix per sistemare il container-fluid che con i gutter-y genera problemi con il background */
.container-fluid{
    padding: 0px 0px !important;
}

.navbar_drop{
    font-weight: 600;
}

.nav-link::after{
    content: "";
    width: 13px;
    height: 13px;
    background-image: url(../img/chevron-down-solid.svg);
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 17px;
    transition: 0.2s;
}

.nav-link:hover:after{
    background-image: url(../img/chevron-down-solid-hover.svg);
}

.nav-link:focus::after{
    transform: rotate(180deg);
}

.nav-item a:hover{
    color: #0070d1 !important;
}

.button_login:hover{
    background-color: rgb(87, 87, 87) !important;
}

.my_jumbo{
    height: 690px;
}

.my_jumbo.jumbo1{
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.my_jumbo .jumbo_text img{
    width: 270px;
}

.my_jumbo .jumbo_text{
    max-width: 540px;
}

.button_buy{
    background-color: #cd3906 !important;
}

.button_buy:hover{
    background-color: #d16e1c !important;
}

.my_card{
    min-height: 200px;
}

.my_card > div > div img{
    object-fit: cover;
    border-radius: 20px;
}

.my_card > div > div{
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
    transition-timing-function: ease;
    position: relative;
    bottom: 0px;
}

.my_card > div > div:hover{
    border: 3px solid skyblue;
    bottom: 20px;
}

.gadget_obj{
    height: 60px;
}

.gadget > div{
    transition: 0.15s;
    cursor: pointer;
    opacity: 0.75;
}

.gadget > div:first-of-type{
    border-bottom: 3px solid #288bd7;
    opacity: 1;
}

.gadget > div:hover{
    opacity: 1;
    border-bottom: 3px solid #79a7ca;
}

.my_jumbo.jumbo2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.new_game > div > div > div{
    border-radius: 20px;
}

.new_game{
    background-color: #191919;
}

.debug .new_game > div > div > .card_tony{
    background-image: url(../img/tony-hawks-pro-skater-1-2-store-art.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.debug .new_game > div > div > .card_crash{
    background-image: url(../img/crash-bandicoot-4-its-about-time-store-art.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

/* **** debug ****  */

/* .debug .my_jumbo{
    height: 690px;
    background-color: tomato;
} */

/* .debug .my_card{
    background-color: lightgreen;
} */

/* .debug .my_card > div > div{
    background-color: orange;
    border: 1px solid black;
} */

/* .debug .ps5{
    height: 300px;
    background-color: lightskyblue;
} */

/* .debug .console{
    background-color: lightsalmon;
} */

/* .debug .console div{
    height: 700px;
    background-color: lightyellow;
    border: 1px solid black;
} */

/* .debug .gadget{
    background-color: lightskyblue;
} */

/* .debug .gadget > div > div{
    background-color: lightpink;
    border: 1px solid black;
} */


.debug .new_game > div > div > div{
    background-color: lightpink;
    border: 1px solid black;
}
